PORT=4000
FRONTEND_URL=http://localhost:5173
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/makjuz
SMTP_HOST=smtppro.zoho.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=support@makjuz.com
SMTP_PASS=iRke0dNDUSeh
CONTACT_NOTIFICATION_FROM=support@makjuz.com
CONTACT_NOTIFICATION_TO=support@makjuz.com
